@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Растягиваем полотно на всю ширину экрана
.app{
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: $background-color
}
